body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.catchy-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*nav bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
}

/*donwload buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*title image*/
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/*features*/
#features {
  padding: 5% 10%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 0 5% 0;
  font-size: 1.5rem;
}

.feature-icon {
  padding: 0 0 1rem;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px 20px 0;
}

/* press */
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 0;
}

/* pricing section */

#pricing{
padding: 100px;
}

.pricing-column{
padding: 3% 2%;
text-align: center;
height: auto;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
